<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplicacioniot"
        tools:targetApi="31">
        <activity
            android:name=".reporte3"
            android:exported="false" />
        <activity
            android:name=".reporte2"
            android:exported="false" />
        <activity
            android:name=".reporte1"
            android:exported="false" />
        <activity
            android:name=".reportarasignatura"
            android:exported="false" />
        <activity
            android:name=".calificacionasignatura"
            android:exported="false" />
        <activity
            android:name=".reportes"
            android:exported="false" />
        <activity
            android:name=".informes"
            android:exported="false" />
        <activity
            android:name=".agregar_asignatura"
            android:exported="false" />
        <activity
            android:name=".tablaservicios"
            android:exported="false" />
        <activity
            android:name=".servicios"
            android:exported="false" />
        <activity
            android:name=".perfil"
            android:exported="false" />
        <activity
            android:name=".lenguaje"
            android:exported="false" />
        <activity
            android:name=".olvididarcontrasenia"
            android:exported="false" />
        <activity
            android:name=".registrarse"
            android:exported="false" />
        <activity
            android:name=".inicio"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>